

// CANVEL PAYMENT SECTION START

.cancel-payment-section {
    padding: 40px 0px;
    @include themify($themes) {
        background-color: themed("dark1");
    }
}

.item-icon-box.v3 {
    padding: 120px 15px 100px 15px;

    @include respond (phone) {
        padding: 60px 15px 40px 15px;
    }
    .icon {
        height: 90px;
        width: 90px;
        border: none;
        background: $color-primary;
        position: relative;

        @include respond (phone) {
            height: 45px;
            width: 45px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 140px;
            width: 140px;
            border: 1px solid $color-primary;
            border-radius: 50%;
            margin: auto;
            @include respond (phone) {
                height: 80px;
                width: 80px;
            }

        }   
    }
    h2 {
        @include themify($themes) {
            color: themed("default");
        }
        font-family: $font-lato ;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 30px;
        margin: auto;
        display: block;

        @include respond (phone) {
            font-size: 22px !important;
            font-weight: $font-bold;
            line-height: 30px;
            letter-spacing: 0em;
        }
        
    }
}