

.bg-yellow {
	background: $color-secondary ;
}
.bg-red {
	background: $color-primary;
}
.bg-info {
	background: $color-info;
}
.bg-success {
	background: $color-success;
}
.bg-green {
	background: $color-green !important;
}
.bg-blue {
	background: $color-blue !important;
}

.bg-secondary {
	background: $color-secondary !important;
}
.bg-light {
	background: $color-light !important;
}
.bg-orange {
	background: $color-orange !important;
}
.twitter-blue{
	background: $color-twitter-blue;
} 

