.cookies {
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	z-index: 999;
}
.cookies-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $color-dark1;
	padding: 10px 30px;
	border-radius: 8px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);

	p {
		font-family: $font-lato;
		font-size: 14px;
		font-weight: $font-regular;
		letter-spacing: 0.05em;
		line-height: 20px;
		color: $color-light;
		margin-bottom: 0;

		a {
			display: inline-block;
			color: $color-light;
			text-decoration: underline;
			transition: $transition;

			&:hover {
				color: $color-primary;
			}
		}
		@include respond(tabland) {
			padding-bottom: 15px;
		}
	}
	.ef-btn {
		font-size: 13px;
		padding: 5px 20px;
	}

	@include respond(tabland) {
		display: block;
		text-align: center;
		padding: 40px 20px;
	}
}
