/* 
	// topbar-bg 
	#F7F6F3
	#1E1D2B

	// border-color-2
	#D6E0E4
	#2B2C3E

	// placeholer
	#66677C
	#D6E0E4

	// price-bg
	#F7F6F3
	#2B2C3E

	// border-color
	#D6E0E4
	#1E1D2B

	// widget
	#F3F1EA
	#2B2C3E

	// owl-nav
	#FAE155
	#FFFFFF

	// toggle-bg
	#F7F6F3
	#252434

	// cart-total-bg
	#FFFFFF
	#2b2c3e4d

	// faq-bg 
	#f7f6f3
	#2b2c3e

	// partner-bg
	#FFFFFF
	#1e1d2b


	// faq-hover
	#f5f5f5
	#252434

	// scroll-bar
	#1e1d2b
	#F7F6F3

	// tab-bg
	#ffffff
	#2B2C3E

	// tab-hover
	#F3F1EA
	#252434
	
*/

$themes: (
	"light": (
		header-bg: #fff,
		topbar-bg: #f7f6f3,
		border-color: #d6e0e4,
		border-color-2: #d6e0e4,
		nav-text: #1e1d2b,
		price-bg: #f7f6f3,
		default: #1e1d2b,
		dark1: #fff,
		dark2: #fff,
		dark3: #fff,
		dark4: #f7f6f3,
		caroback: #fff,
		sale-border: #d6e0e4,
		review-text: #66677c,
		card-text: #66677c,
		placeholer: #66677c,
		widget: #f3f1ea,
		owl-nav: #FAE155,
		svg-icon:#1e1d2b,
		toggle-bg: #F7F6F3,
		cart-total-bg: #f7f6f3,
		faq-bg: #f7f6f3,
		partner-bg:#FFFFFF,
		faq-hover-bg:#f5f5f5,
		scroll-bar:#1e1d2b,
		tab-bg: #ffffff,
		tab-hover: #F3F1EA,
	),
	"dark": (
		default: #fff,
		tertiary: #57b5ed,
		dark1: #1e1d2b,
		dark2: #252434,
		dark3: #2b2c3e,
		darkmid: #66677c,
		light: #d6e0e4,
		light1: #f3f1ea,
		light2: #f7f6f3,
		twitter-blue: #2aa3ef,
		dark4: #2b2c3e4d,
		caroback: #3e404d,
		video: #fd010133,
		header-bg: #2b2c3e,
		topbar-bg: #1e1d2b,
		border-color: #1e1d2b,
		border-color-2: #2b2c3e,
		nav-text: #fff,
		price-bg: #2b2c3e,
		sale-border: #66677c,
		review-text: #c1bfd2,
		card-text: #fff,
		placeholer: #d6e0e4,
		widget: #2b2c3e,
		owl-nav: #FFFFFF,
		svg-icon:#FFFFFF,
		toggle-bg: #252434,
		cart-total-bg: #2b2c3e4d,
		faq-bg: #2b2c3e,
		partner-bg:#1e1d2b,
		faq-hover-bg:#252434,
		scroll-bar:#F7F6F3,
		tab-bg: #2b2c3e,
		tab-hover: #252434,
	),
);

/**********
 ** Uses
@include themify($themes) {
    propnname: themed('variable');  
}
**/
